.image-overlay-container {
	/* z-index: 16; */

	& img.zoomable {
		cursor: zoom-in !important;
	}
}
.image-overlay-outer {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
	transition: all ease 0.3s;
}

.image-overlay-inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	& img.image-full-screen {
		z-index: 999;
		max-height: 96vh;
		display: block;
		margin: auto;
		cursor: zoom-out;
	}
}

.img-slider-img {
	max-width: 80vh;
	max-height: 80vh;
}
