.projects {
	background-color: var(--alt-bg-color);
}

.projects .project-card {
	padding: 4px;
	background-color: transparent;
	/* position: relative; */
	border: none;
	/* display: flex; */
}

/* .projects .project-card::before {
	content: '';
	position: absolute;
	inset: 0px;
	z-index: 1;
	background: radial-gradient(
		300px circle at var(--x) var(--y),
		var(--accent-color),
		transparent
	);

	border-radius: 15px;
} */

.projects .cards-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

.card-content:hover {
	cursor: pointer;
}

.projects .card-content {
	/* background-color: black; */
	/* background-color: var(--secondary-bg-color); */
	/* background-color: var(--neutral-bright); */
	background-color: rgb(246, 238, 225);
	box-shadow:
		3px 3px 10px rgba(0, 0, 0, 0.1),
		-3px -3px 10px rgb(255, 252, 240);
	z-index: 2;
	/* border-radius: 15px; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 1rem 1.5rem;
	transition: 0.3s ease;
	border: 1px solid #ddd;
	position: relative;
	width: 350px;
	height: 350px;

	& .card-heading {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 1.5rem;
		width: 100%;

		& h3 {
			font-size: 1.5rem;
			margin: 0;
		}
	}

	& img {
		/* height: 180px; */
		/* width: 250px; */
		/* max-width: fit-content; */
		max-height: 225px;
		max-width: 300px;
		box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.1);
		/* display: none; */
	}

	& .description {
		width: 100%;
		text-align: center;
		/* display: flex;
		justify-content: space-between;
		align-items: center; */
	}

	&:hover {
		cursor: pointer;
	}
}

.projects .card-content:hover {
	box-shadow:
		10px 10px 10px rgba(0, 0, 0, 0.1),
		-10px -10px 10px rgb(255, 252, 240);
	border: 1px solid #ccc;
}

.projects .card-overlay {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 4;
	transition:
		visibility 0.5s,
		opacity 0.5s linear;
	/* display: block; */
	/* display: block; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.projects .card-overlay-content-container {
	/* padding: 30px; */
	/* border-radius: 15px; */
	/* overflow: hidden; */
	/* background-color: red; */
}

.projects .card-overlay-content {
	background-color: var(--alt-bg-color);
	padding: 4rem;
	position: relative;
	/* border-radius: 15%; */
	width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;
	overflow-y: scroll;
	z-index: 5;
	max-height: 90vh;
	margin: auto;
	& p {
		font-size: 1.1rem;
		text-align: justify;
	}
}

.projects .close-card-overlay-button {
	position: absolute;
	top: 2rem;
	right: 2rem;
	width: 2rem;
	height: 3rem;
	z-index: -1;

	& svg {
		width: 100%;
		height: 100%;
		/* color: var(--neutral-bright); */
		color: var(--neutral-dark);
	}
}

.projects .slider .card {
	background-color: transparent;
	& .image-overlay-container img.image-preview {
		max-width: 100%;
	}
}

/* .projects .card-overlay-images-container {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	min-height: 400px;
	height: 400px;
	max-width: 100%;
} */

@media (min-width: 0px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}

@media (max-width: 992px) {
	.projects {
		& .cards-container {
			justify-content: left;
			gap: 0.5rem;
			margin-left: auto;
			flex-wrap: nowrap;
			overflow-x: scroll;
			scroll-snap-type: x mandatory;
		}

		& .project-card {
			flex-shrink: 0;
			scroll-snap-align: center;
		}
	}

	.projects .card-content {
		width: 280px;
		height: 280px;

		& .card-heading {
			gap: 1rem;
			width: 100%;

			& h3 {
				font-size: 1.25rem;
				margin: 0;
			}
		}

		& img {
			max-height: 150px;
			max-width: 240px;
		}
	}
}
